body{
    background-color: #00ad2a;
}

canvas
{
   border: 1px dotted #f06;
   height: 600px;
   width: 600px;
  margin-left: auto ;
  margin-right: auto ;
}
div#output
{
   width: 250px;
   height: 150px;

   float: left;

   overflow-x: hidden;
   overflow-y: auto;

   background-color: #000;
   color: #fff;
}
.center{
  width: 600px ;
  margin-left: auto ;
  margin-right: auto ;
}
.text{
    text-align:center;
}

@media (orientation: portrait) {
  .fullscreen{
    width: 100vw;
    height: 100vw;
  }
}

@media (orientation: landscape) {
  .fullscreen{
    width: 100vh;
    height: 100vh;
  }
}
